.circle {
  width: 80px;
  height: 80px;
  border: 8px solid;
  border-radius: 50%;
  border-top-color: #abc;
  border-right-color: teal;
  border-left-color: #abc;
  border-bottom-color: #abc;
  margin: 0 auto;
}

.loader {
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

body {
  font-family: "Helvetica Neue";
  font-size: 1.2em;
  background: #EFEFBB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
  color: rgb(12, 219, 29);
}

.togglable {
  color: rgb(13, 13, 44);
  cursor: pointer;
}

.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: inline-block;
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}