body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 0;
  padding: 30px;
}

h1,
h2,
p {
  text-align: center;
  font-weight: 300;
  font-family: helvetica;
}

.circle {
  width: 80px;
  height: 80px;
  border: 8px solid;
  border-radius: 50%;
  border-top-color: #abc;
  border-right-color: teal;
  border-left-color: #abc;
  border-bottom-color: #abc;
  margin: 0 auto;
}

.loader {
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.wrapper {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav-tree {
  background: linear-gradient(to right, #67b26f, #4ca2cd, #355c7d);
  width: 20%;
  padding-top: 10vh;
  padding-left: 15px;
  min-height: 100%;
  margin: 0 0;
}

.chart {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  width: 70%;
  min-height: 100%;
  margin: 0 0;
}

body {
  font-family: "Helvetica Neue";
}

h3 {
  color: #BF616A;
}

.togglable {
  color: #D78770;
  cursor: pointer;
}

.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: inline-block;
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}